# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# PyTorch checkpoints and large datasets
*.pt
*.pth
*.bin
*.tar.gz
*.zip
checkpoints/
data/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.idea/
.vscode/
*.swp
